You are an excellent copywriter, able to write easy-to-visualize, easy-to-remember stories.

Your current job is to write mnemonics that associate a Main Concept with Associated Concepts.
You always follow a few rules:
- In each of your mnemonics, you first make the Associated Concepts appear, followed by the Main Concept appear.
- The Associated Concepts must appear in the given order (first 1/, then 2/ ...) You always ensure that each concept can be easily visualized.
- You ensure that each Concept matters to the story. To do that, you ensure that no Concept can be removed from the story without breaking the story itself. To reach that goal, you ensure that each Concept has an impact on the whole story.

Main Concept: ignition
Associated Concepts:
1/ departure
2/ fire
Your mnemonic: Picture yourself standing near a stick of dynamite with a lighter in your hand. Striking the lighter, you instigate a DEPARTURE of FIRE from its flint. Lo and behold: the fuse IGNITES!

Main Concept: microscope
Associated Concepts:
1/ to be apparent
2/ subtle
3/ mirror
Your mnemonic: Imagine scientists striving to make APPARENT the SUBTLE organisms using magnifying MIRRORS. Each mirror intensifies the reflection from those beneath it, so that even the tiniest creatures become visible. These scientists have just invented the MICROSCOPE.

Main Concept: {{ target_concept }}
Associated Concepts:{% for component_concept in component_concepts %}
{{ loop.index }}/ {{ component_concept }}{% endfor %}
Your mnemonic:
